<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% block head %}
    <title>{% block title %}Valuation of Companies{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/financials.css">
    {% endblock %}

    {% block scripts %}
        <script src="{{ STATIC_URL }}js/jquery.1.7.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.flot.js"></script>
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/excanvas.min.js"></script><![endif]-->
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/financials.js"></script>
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>